<form [formGroup]="form">

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Your Name</mat-label>
      <input matInput formControlName="author" />
      @if (form.get('author')?.hasError('required')) {
        <mat-error>Name is required</mat-error>
      }
      @if (form.get('author')?.hasError('maxlength')) {
        <mat-error>Max 15 chars</mat-error>
      }
      @if (form.get('author')?.hasError('pattern')) {
        <mat-error>Only letters, numbers, and spaces</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Comment</mat-label>
      <input matInput formControlName="content"  />
      @if (form.get('content')?.hasError('required')) {
        <mat-error>Comment is required</mat-error>
      }
      @if (form.get('content')?.hasError('maxlength')) {
        <mat-error>Max 15 chars</mat-error>
      }
      @if (form.get('content')?.hasError('pattern')) {
        <mat-error>Only letters and spaces</mat-error>
      }
    </mat-form-field>

    <div class="flex justify-end gap-2 mb-8">
        <button matButton class="cancel-fab" type="button" (click)="onCancel()">Cancel</button>
        <button matButton="filled" (click)="onSubmit()" type="submit">Create</button>
    </div>

  </form>
