
  <h1 mat-dialog-title class="text-xl font-bold m-0 p-0">Edit Post</h1>
  <mat-dialog-content>
  <p class="text-gray-500 mt-1 mb-6">Update the details of your post</p>
  <form [formGroup]="form">

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      @if (form.get('title')?.hasError('required')) {
        <mat-error>Title is required</mat-error>
      }
      @if (form.get('title')?.hasError('maxlength')) {
        <mat-error>Max 15 chars</mat-error>
      }
      @if (form.get('title')?.hasError('pattern')) {
        <mat-error>Only letters, numbers, and spaces</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Author</mat-label>
      <input matInput formControlName="author"  />
      @if (form.get('author')?.hasError('required')) {
        <mat-error>Author is required</mat-error>
      }
      @if (form.get('author')?.hasError('maxlength')) {
        <mat-error>Max 15 chars</mat-error>
      }
      @if (form.get('author')?.hasError('pattern')) {
        <mat-error>Only letters and spaces</mat-error>
      }
    </mat-form-field>

    <mat-form-field  class="w-full">
      <mat-label>Content</mat-label>
      <textarea matInput formControlName="content" rows="4"></textarea>
      @if (form.get('content')?.hasError('required')) {
        <mat-error>Content is required</mat-error>
      }
      @if (form.get('content')?.hasError('maxlength')) {
        <mat-error>Max 150 chars</mat-error>
      }
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button matButton class="cancel-fab" [mat-dialog-close]="true">Close</button>
  <button matButton="filled" (click)="onSave()">Update</button>
</mat-dialog-actions>



