<div class="p-4 w-2/3 mx-auto mt-10">
    <h1 class="text-xl font-semibold">Post Management</h1>
    <div class="flex justify-between items-center mb-4">
        <div>
        <p class="mat-text-disabled text-sm">View, create, and manage posts and comments</p>
        </div>
        <button matFab extended class="custom-fab">
            <mat-icon>add</mat-icon>
            New Post
        </button>
    </div>


  <p class="mat-text-on-surface-variant mb-4">Showing 1-6 of {{ posts.length }} posts</p>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    @for (post of pagedPosts; track post.id) {
        <mat-card class="p-4">
            <h2 class="font-bold">{{ post.title }}</h2>
            <span class="flex items-center gap-1 mat-text-disabled">
                <mat-icon inline="true" fontIcon="calendar_today"></mat-icon>
                <p> {{ post.createdAt | date: 'MMM d, y' }}</p>
            </span>
            
            <p class="mt-2">{{ post.content }}</p>
            <p class="mt-2 mat-text-on-surface-variant text-sm">By {{ post.author }}</p>

            <div class="flex justify-between mt-4 items-center w-full text-xl">
                <button matFab extended class="comment-fab">
                    <mat-icon fontSet="material-symbols-outlined">chat_bubble</mat-icon>
                    Comments
                </button>
                <span class="ml-4">
                    <button mat-icon-button>
                        <mat-icon fontSet="material-symbols-outlined">edit_square</mat-icon>
                    </button>
                    <button mat-icon-button >
                        <mat-icon class="mat-text-error" fontSet="material-symbols-outlined">delete</mat-icon>
                    </button>
                </span>
            </div>
        </mat-card>
    }
  </div>

  <mat-paginator
    [length]="posts.length"
    [pageSize]="6"
    [pageSizeOptions]="[6]"
    (page)="onPageChange($event)"
    class="mt-4">
  </mat-paginator>
</div>
